/* Dark mode colors. */
:root[data-theme='dark']{
	--sl-color-accent-low: hsl(259, 95%, 14%);
	--sl-color-accent: hsl(259, 95%, 50%);
	--sl-color-accent-high: hsl(192, 95%, 70%);
	--sl-color-white: hsl(259, 5%, 90%);
	--sl-color-gray-1: hsl(259, 5%, 60%);
	--sl-color-gray-2: hsl(259, 5%, 50%);
	--sl-color-gray-3: hsl(259, 5%, 35%);
	--sl-color-gray-4: hsl(259, 5%, 25);
	--sl-color-gray-5: hsl(259, 5%, 15%);
	--sl-color-gray-6: hsl(259, 5%, 13%);
	--sl-color-black: hsl(259, 5%, 10%);
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: hsl(259, 95%, 14%);
	--sl-color-accent: hsl(259, 95%, 50%);
	--sl-color-accent-high: hsl(192, 95%, 70%);
	--sl-color-white: hsl(259, 5%, 10%);
	--sl-color-gray-1: hsl(259, 5%, 13%);
	--sl-color-gray-2: hsl(259, 5%, 15%);
	--sl-color-gray-3: hsl(259, 5%, 25%);
	--sl-color-gray-4: hsl(259, 5%, 35%);
	--sl-color-gray-5: hsl(259, 5%, 50%);
	--sl-color-gray-6: hsl(259, 5%, 60%);
	--sl-color-gray-7: hsl(259, 5%, 80%);
	--sl-color-black: hsl(259, 5%, 90%);
}

/* Wright4i's Family of Jewels */
:root {
	/* Ruby */
	--w4i-color-ruby: hsl(0, 100%, 40%);
	--w4i-color-ruby-low: hsl(0, 100%, 30%);
	--w4i-color-ruby-high: hsl(0, 100%, 50%);
  
	/* Sapphire */
	--w4i-color-sapphire: hsl(240, 100%, 30%);
	--w4i-color-sapphire-low: hsl(240, 100%, 20%);
	--w4i-color-sapphire-high: hsl(240, 100%, 40%);
  
	/* Emerald */
	--w4i-color-emerald: hsl(140, 100%, 30%);
	--w4i-color-emerald-low: hsl(140, 100%, 20%);
	--w4i-color-emerald-high: hsl(140, 100%, 40%);
  
	/* Amethyst */
	--w4i-color-amethyst: hsl(270, 100%, 40%);
	--w4i-color-amethyst-low: hsl(270, 100%, 30%);
	--w4i-color-amethyst-high: hsl(270, 100%, 50%);
  
	/* Topaz */
	--w4i-color-topaz: hsl(45, 100%, 50%);
	--w4i-color-topaz-low: hsl(45, 100%, 40%);
	--w4i-color-topaz-high: hsl(45, 100%, 60%);
  
	/* Aquamarine */
	--w4i-color-aquamarine: hsl(180, 100%, 75%);
	--w4i-color-aquamarine-low: hsl(180, 100%, 65%);
	--w4i-color-aquamarine-high: hsl(180, 100%, 85%);
  
	/* Citrine */
	--w4i-color-citrine: hsl(60, 100%, 50%);
	--w4i-color-citrine-low: hsl(60, 100%, 40%);
	--w4i-color-citrine-high: hsl(60, 100%, 60%);
  
	/* Garnet */
	--w4i-color-garnet: hsl(345, 100%, 40%);
	--w4i-color-garnet-low: hsl(345, 100%, 30%);
	--w4i-color-garnet-high: hsl(345, 100%, 50%);
  
	/* Peridot */
	--w4i-color-peridot: hsl(90, 100%, 40%);
	--w4i-color-peridot-low: hsl(90, 100%, 30%);
	--w4i-color-peridot-high: hsl(90, 100%, 50%);
  
	/* Opal */
	--w4i-color-opal: hsl(210, 100%, 80%);
	--w4i-color-opal-low: hsl(210, 100%, 70%);
	--w4i-color-opal-high: hsl(210, 100%, 90%);
  
	/* Turquoise */
	--w4i-color-turquoise: hsl(174, 72%, 40%);
	--w4i-color-turquoise-low: hsl(174, 72%, 30%);
	--w4i-color-turquoise-high: hsl(174, 72%, 50%);
  
	/* Pearl */
	--w4i-color-pearl: hsl(30, 25%, 80%);
	--w4i-color-pearl-low: hsl(30, 25%, 70%);
	--w4i-color-pearl-high: hsl(30, 25%, 90%);
  
	/* Moonstone */
	--w4i-color-moonstone: hsl(0, 25%, 80%);
	--w4i-color-moonstone-low: hsl(0, 25%, 70%);
	--w4i-color-moonstone-high: hsl(0, 25%, 90%);

	/* Onyx */
	--w4i-color-onyx: hsl(0, 0%, 10%);
	--w4i-color-onyx-low: hsl(0, 0%, 5%);
	--w4i-color-onyx-high: hsl(0, 0%, 20%);
  
	/* Jade */
	--w4i-color-jade: hsl(150, 65%, 40%);
	--w4i-color-jade-low: hsl(150, 65%, 30%);
	--w4i-color-jade-high: hsl(150, 65%, 50%);
  
	/* Lapis Lazuli */
	--w4i-color-lapis-lazuli: hsl(210, 75%, 40%);
	--w4i-color-lapis-lazuli-low: hsl(210, 75%, 30%);
	--w4i-color-lapis-lazuli-high: hsl(210, 75%, 50%);
}
  
/* Icon on same line as text */
.icon-inline {
	display: inline !important;
	margin: 0 0 0 0.25rem !important;
	vertical-align: middle;
	font-size: 1.5rem;
}

/* Site hero */
div.hero {
	padding: 0;
}

@keyframes gradientAnimation {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }

div.hero h1 {
	background: linear-gradient(135deg, var(--sl-color-white), var(--sl-color-accent), var(--sl-color-accent-high));
	background-size: 200% 200%;
	background-clip: text;
	color: transparent;
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	filter:drop-shadow(0 0 1px var(--sl-color-white));
	animation: gradientAnimation 10s ease-in-out infinite; 
}

/* Custom grid */
div.grid-1, div.grid-2, div.grid-3, div.grid-4 {
	display: grid;
	gap: 1rem;
}

div.grid-1 {
	grid-template-columns: repeat(1, 1fr);
}

div.grid-2 {
	grid-template-columns: repeat(2, 1fr);
}

div.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

div.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

a.grid-button {
	color: inherit !important;
	text-decoration: none !important;
}

div.grid-item {
	display: flex;
	justify-content: center;
	margin-top: 0 !important;
	padding: 10px 20px; 
	border: none; 
	color: var(--w4i-color-moonstone-high); 
	text-align: center;
	font-size: 16px; 
	cursor: pointer; 
	border-radius: 0; 
	transition: background-color 0.3s, transform 0.1s, border 0.3s, color 0.3s; 
	user-select: none; 
}

/* Grid buttons */
a.grid-button div.grid-item:active {
	transform: scale(0.98);
	border-color: transparent;
}

a.grid-button div.grid-item.color-dark-bg {
	border: transparent solid 1px;
}

a.grid-button div.grid-item.color-dark-bg:not(:hover,:focus,:active) {
	border-color: var(--w4i-color-onyx-low);
}

a.grid-button div.grid-item.color-dark-bg:not(:hover,:focus,:active) {
	background-color: transparent !important;
	color: var(--sl-color-white) !important;
}

a.grid-button div.grid-item.color-dark-bg:hover svg, 
a.grid-button div.grid-item.color-dark-bg:focus svg,
a.grid-button div.grid-item.color-dark-bg:active svg {
	color: var(--sl-color-black) !important;
	transition: color 0.3s;
}

a.grid-button div.grid-item:not(.color-dark-bg):hover svg, 
a.grid-button div.grid-item:not(.color-dark-bg):focus svg,
a.grid-button div.grid-item:not(.color-dark-bg):active svg {
	color: inherit !important;
	transition: color 0.3s;
}

a.grid-button div.grid-item:focus {
	outline: none; 
	box-shadow: 0 0 0 2px var(--sl-color-white); 
}

/* Light/Dark mode Accent */
a.grid-button div.grid-item.color-accent {
	background-color: var(--sl-color-accent-low); 
}

a.grid-button div.grid-item.color-accent:hover {
	background-color: var(--sl-color-accent); 
}

a.grid-button div.grid-item.color-accent:active {
	background-color: var(--sl-color-accent-high); 
}

/* Ruby */
a.grid-button div.grid-item.color-ruby svg {
	color: var(--w4i-color-ruby);
}

a.grid-button div.grid-item.color-ruby {
    background-color: var(--w4i-color-ruby-low);
}

a.grid-button div.grid-item.color-ruby:hover {
    background-color: var(--w4i-color-ruby);
}

a.grid-button div.grid-item.color-ruby:active {
    background-color: var(--w4i-color-ruby-high);
}

/* Sapphire */
a.grid-button div.grid-item.color-sapphire svg {
	color: var(--w4i-color-sapphire);
}

a.grid-button div.grid-item.color-sapphire {
    background-color: var(--w4i-color-sapphire-low);
}

a.grid-button div.grid-item.color-sapphire:hover {
    background-color: var(--w4i-color-sapphire);
}

a.grid-button div.grid-item.color-sapphire:active {
    background-color: var(--w4i-color-sapphire-high);
}

/* Emerald */
a.grid-button div.grid-item.color-emerald svg {
	color: var(--w4i-color-emerald);
}

a.grid-button div.grid-item.color-emerald {
    background-color: var(--w4i-color-emerald-low);
}

a.grid-button div.grid-item.color-emerald:hover {
    background-color: var(--w4i-color-emerald);
}

a.grid-button div.grid-item.color-emerald:active {
    background-color: var(--w4i-color-emerald-high);
}

/* Amethyst */
a.grid-button div.grid-item.color-amethyst svg {
	color: var(--w4i-color-amethyst);
}

a.grid-button div.grid-item.color-amethyst {
    background-color: var(--w4i-color-amethyst-low);
}

a.grid-button div.grid-item.color-amethyst:hover {
    background-color: var(--w4i-color-amethyst);
}

a.grid-button div.grid-item.color-amethyst:active {
    background-color: var(--w4i-color-amethyst-high);
}

/* Topaz */
a.grid-button div.grid-item.color-topaz {
	color: var(--w4i-color-onyx-low);
}

a.grid-button div.grid-item.color-topaz svg {
	color: var(--w4i-color-topaz);
}

a.grid-button div.grid-item.color-topaz {
    background-color: var(--w4i-color-topaz-low);
}

a.grid-button div.grid-item.color-topaz:hover {
    background-color: var(--w4i-color-topaz);
}

a.grid-button div.grid-item.color-topaz:active {
    background-color: var(--w4i-color-topaz-high);
}

/* Aquamarine */
a.grid-button div.grid-item.color-aquamarine {
	color: var(--w4i-color-onyx-low);
}

a.grid-button div.grid-item.color-aquamarine svg {
	color: var(--w4i-color-aquamarine);
}

a.grid-button div.grid-item.color-aquamarine {
    background-color: var(--w4i-color-aquamarine-low);
}

a.grid-button div.grid-item.color-aquamarine:hover {
    background-color: var(--w4i-color-aquamarine);
}

a.grid-button div.grid-item.color-aquamarine:active {
    background-color: var(--w4i-color-aquamarine-high);
}

/* Citrine */
a.grid-button div.grid-item.color-citrine {
	color: var(--w4i-color-onyx-low);
}

a.grid-button div.grid-item.color-citrine svg {
	color: var(--w4i-color-citrine);
}

a.grid-button div.grid-item.color-citrine {
    background-color: var(--w4i-color-citrine-low);
}

a.grid-button div.grid-item.color-citrine:hover {
    background-color: var(--w4i-color-citrine);
}

a.grid-button div.grid-item.color-citrine:active {
    background-color: var(--w4i-color-citrine-high);
}

/* Garnet */
a.grid-button div.grid-item.color-garnet svg {
	color: var(--w4i-color-garnet);
}

a.grid-button div.grid-item.color-garnet {
    background-color: var(--w4i-color-garnet-low);
}

a.grid-button div.grid-item.color-garnet:hover {
    background-color: var(--w4i-color-garnet);
}

a.grid-button div.grid-item.color-garnet:active {
    background-color: var(--w4i-color-garnet-high);
}

/* Peridot */
a.grid-button div.grid-item.color-peridot {
	color: var(--w4i-color-onyx-low);
}

a.grid-button div.grid-item.color-peridot svg {
	color: var(--w4i-color-peridot);
}

a.grid-button div.grid-item.color-peridot {
    background-color: var(--w4i-color-peridot-low);
}

a.grid-button div.grid-item.color-peridot:hover {
    background-color: var(--w4i-color-peridot);
}

a.grid-button div.grid-item.color-peridot:active {
    background-color: var(--w4i-color-peridot-high);
}

/* Opal */
a.grid-button div.grid-item.color-opal {
	color: var(--w4i-color-onyx-low);
}

a.grid-button div.grid-item.color-opal svg {
	color: var(--w4i-color-opal);
}

a.grid-button div.grid-item.color-opal {
    background-color: var(--w4i-color-opal-low);
}

a.grid-button div.grid-item.color-opal:hover {
    background-color: var(--w4i-color-opal);
}

a.grid-button div.grid-item.color-opal:active {
    background-color: var(--w4i-color-opal-high);
}

/* Turquoise */
a.grid-button div.grid-item.color-turquoise svg {
	color: var(--w4i-color-turquoise);
}

a.grid-button div.grid-item.color-turquoise {
    background-color: var(--w4i-color-turquoise-low);
}

a.grid-button div.grid-item.color-turquoise:hover {
    background-color: var(--w4i-color-turquoise);
}

a.grid-button div.grid-item.color-turquoise:active {
    background-color: var(--w4i-color-turquoise-high);
}

/* Pearl */
a.grid-button div.grid-item.color-pearl {
	color: var(--w4i-color-onyx-low);
}

a.grid-button div.grid-item.color-pearl svg {
	color: var(--w4i-color-pearl);
}

a.grid-button div.grid-item.color-pearl {
    background-color: var(--w4i-color-pearl-low);
}

a.grid-button div.grid-item.color-pearl:hover {
    background-color: var(--w4i-color-pearl);
}

a.grid-button div.grid-item.color-pearl:active {
    background-color: var(--w4i-color-pearl-high);
}

/* Moonstone */
a.grid-button div.grid-item.color-moonstone {
	color: var(--w4i-color-onyx-low);
}

a.grid-button div.grid-item.color-moonstone svg {
	color: var(--w4i-color-moonstone);
}

a.grid-button div.grid-item.color-moonstone {
    background-color: var(--w4i-color-moonstone-low);
}

a.grid-button div.grid-item.color-moonstone:hover {
    background-color: var(--w4i-color-moonstone);
}

a.grid-button div.grid-item.color-moonstone:active {
    background-color: var(--w4i-color-moonstone-high);
}

/* Onyx */
a.grid-button div.grid-item.color-onyx svg {
	color: var(--w4i-color-onyx);
}

a.grid-button div.grid-item.color-onyx {
    background-color: var(--w4i-color-onyx-low);
}

a.grid-button div.grid-item.color-onyx:hover {
    background-color: var(--w4i-color-onyx);
}

a.grid-button div.grid-item.color-onyx:active {
    background-color: var(--w4i-color-onyx-high);
}

/* Jade */
a.grid-button div.grid-item.color-jade svg {
	color: var(--w4i-color-jade);
}

a.grid-button div.grid-item.color-jade {
    background-color: var(--w4i-color-jade-low);
}

a.grid-button div.grid-item.color-jade:hover {
    background-color: var(--w4i-color-jade);
}

a.grid-button div.grid-item.color-jade:active {
    background-color: var(--w4i-color-jade-high);
}

/* Lapis Lazuli */
a.grid-button div.grid-item.color-lapis-lazuli svg {
	color: var(--w4i-color-lapis-lazuli);
}

a.grid-button div.grid-item.color-lapis-lazuli {
    background-color: var(--w4i-color-lapis-lazuli-low);
}

a.grid-button div.grid-item.color-lapis-lazuli:hover {
    background-color: var(--w4i-color-lapis-lazuli);
}

a.grid-button div.grid-item.color-lapis-lazuli:active {
    background-color: var(--w4i-color-lapis-lazuli-high);
}
